<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chefs">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/homelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chefs"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".MangoActivity" android:exported="false" />
        <activity android:name=".JalebifafdaActivity" android:exported="false" />
        <activity android:name=".ProfileuserActivity" android:exported="false" />
        <activity android:name=".StrawberryActivity" android:exported="false" />
        <activity android:name=".DhoklaActivity" android:exported="false" />
        <activity android:name=".SamosaActivity" android:exported="false" />
        <activity android:name=".CakeActivity" android:exported="false" />
        <activity android:name=".IdliActivity" android:exported="false" />
        <activity android:name=".KachoriActivity" android:exported="false" />
        <activity android:name=".PohaActivity" android:exported="false" />
        <activity android:name=".DosaActivity" android:exported="false" />
        <activity android:name=".Veg_soupActivity" android:exported="false" />
        <activity android:name=".ManchurianActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".VideosActivity" android:exported="false" />
        <activity android:name=".RecipesActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".SingnupActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".BiryaniActivity" android:exported="false"/>
        <activity android:name=".BrownieActivity" android:exported="false"/>
        <activity android:name=".BurgerActivity" android:exported="false"/>
        <activity android:name=".CholeBhatureActivity" android:exported="false"/>
        <activity android:name=".ChowMeinActivity" android:exported="false"/>
        <activity android:name=".CutletActivity" android:exported="false"/>
        <activity android:name=".FriedRiceActivity" android:exported="false"/>
        <activity android:name=".IceCreamActivity" android:exported="false"/>
        <activity android:name=".LassiActivity" android:exported="false"/>
        <activity android:name=".LemonadeActivity" android:exported="false"/>
        <activity android:name=".NoodlesActivity" android:exported="false"/>
        <activity android:name=".PaneerActivity" android:exported="false"/>
        <activity android:name=".PaneerTikkaActivity" android:exported="false"/>
        <activity android:name=".ParathaActivity" android:exported="false"/>
        <activity android:name=".PastaActivity" android:exported="false"/>
        <activity android:name=".PavBhajiActivity" android:exported="false"/>
        <activity android:name=".PizzaActivity" android:exported="false"/>
        <activity android:name=".SandwichActivity" android:exported="false"/>
        <activity android:name=".SheeraActivity" android:exported="false"/>
        <activity android:name=".SpringRollActivity" android:exported="false"/>

    </application>
</manifest>
